.tooltip-wrapper {
    transform: translateX(-50%);
}

.tooltip {
    min-width: 430px;
    height: 180px;
    position: absolute;
    padding: 16px;
    top: 50px;
    left: 0;
    background: #fff;
    pointer-events: auto;
    z-index: 1;
    animation: 3s linear 1s infinite running;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: vertical-shaking;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}
.tooltip::before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    top: -7px;
    left: 48%;
    background-color: #fff;
    padding: 5px;
    z-index: 3;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@keyframes move {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(60px);
    }
}

@keyframes vertical-shaking {
    0% {
        transform: translateY(0);
    }
    5%,
    25% {
        transform: translateY(5px);
    }
    15%,
    35% {
        transform: translateY(-5px);
    }
    40% {
        transform: translateY(0);
    }
    /* 100% {
        transform: translateY(0);
    } */
}
