<div
    #tooltipLocation
    class="tooltip row background-white position-absolute shadow left-0 right-0 m-auto callout-triangle rounded-sm"
>
    <div class="h-full flex-column justify-between border-2 border-white">
        <p class="mt-2 text-base">
            Te hemos asignado esta comuna automáticamente. Puedes cambiarla para
            ver productos disponibles en otra ubicación.
        </p>

        <div
            class="w-full grid-cols-2 grid gap-x-1 lg:gap-x-10 border-2 border-white"
            content="footer"
        >
            <app-button text="Cancelar"></app-button>
            <app-button text="Aceptar"></app-button>
        </div>
    </div>
</div>
